{% extends "base.html" %}

{% block title %}
SportShop - About
{% endblock %}

{% block body %}
<div class="container mx-5 my-5">
    <center>
        <h3>SportShop is an online shop, where you can find important things you can use in sports, like balls, shoes,
            shirts and others.</h3>
        <h3>All the products are high-quality ones with low prices. </h3>
        <h3>This project was created with a big support of TBC-TechSchool & Geolab.</h3>
        <h3>You can press this picture below to see about their courses and their website.</h3>
        <a href="https://www.tbceducation.ge">
            <img class="tbclogo" src="/static/tbc-logo.jpg" alt="">
        </a>
    </center>
</div>
{% endblock %}